.radio-inline{
    font-size:20px;

}

.nav-tabs li.nav-item {
    width: 32%;
    font-size :22px;
    text-align: center;
}

.control-label{
    font-size: 20px;
}

body {
    background: #ededed;
    font-family: 'Open Sans', sans-serif;
  }
  .center {
    position: absolute;
    display: inline-block;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
  
 

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

