.product-carousel{display:none;opacity:1!important;position:relative;width:100%;-ms-touch-action:pan-y;}
#column-left .product-carousel, #column-right .product-carousel{display:block;}
#column-left .customNavigation, #column-right .customNavigation{display:none;}
#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{display:block;}
.product-carousel .slider-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);-webkit-perspective:1000;}
.product-carousel .slider-wrapper-outer{overflow:hidden;position:relative;width:100%;}
.product-carousel .slider-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out;}
.product-carousel .slider-item{float:left;}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{cursor:pointer;}
.slider-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;}
.grabbing{cursor:url("../../image/megnor/grabbing.png") 8 8, move;}
.product-carousel .slider-wrapper,
.product-carousel .slider-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;}
.customNavigation{text-align:center;position:relative;width:100%}
.customNavigation a{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;display:block;float:right;height:25px;position:absolute;top:-43px;width:25px;border:1px solid #e8e8e8;}
.customNavigation a.prev{background:url("../../image/megnor/sprite.png") no-repeat scroll -5px -77px transparent;right:29px;}
.customNavigation a.prev:hover{background-position:-5px -106px;text-decoration:none;}
.customNavigation a.next{background:url("../../image/megnor/sprite.png") no-repeat scroll -40px -77px transparent;right:0px;}
.customNavigation a.next:hover{background-position:-40px -106px;text-decoration:none;}
.banners-slider-carousel .product-carousel{width:auto;margin:0 15px;}
.banners-slider-carousel .customNavigation a.prev{background:url("../../image/megnor/sprite.png") no-repeat scroll -11px -60px transparent;left:-3px;top:48px;z-index:999;cursor:pointer;}
.banners-slider-carousel .customNavigation a.prev:hover{background-position:-11px -90px;text-decoration:none;z-index:999;}
.banners-slider-carousel .customNavigation a.next{background:url("../../image/megnor/sprite.png") no-repeat scroll -43px -60px transparent;right:-7px;top:48px;cursor:pointer;z-index:999;}
.banners-slider-carousel .customNavigation a.next:hover{background-position:-43px -90px;text-decoration:none;z-index:999;}
.product-info .product-image .customNavigation{text-align:center;position:absolute;width:100%;z-index:9;}
.product-info .product-image .customNavigation a{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;display:block;float:right;height:25px;position:absolute;top:-34px;width:25px;}
.product-info .product-image .customNavigation a.prev{background:url("../../image/megnor/sprite.png") no-repeat scroll -5px -77px transparent;left:0px;top:35px;}
.product-info .product-image .customNavigation a.prev:hover{background-position:-5px -106px;text-decoration:none;}
.product-info .product-image .customNavigation a.next{background:url("../../image/megnor/sprite.png") no-repeat scroll -40px -77px transparent;right:0px;top:35px;}
.product-info .product-image .customNavigation a.next:hover{background-position:-40px -106px;text-decoration:none;}