html{overflow-y:scroll;margin:0;padding:0;}
body{background-color:#ffffff;color:#444444;font-family:'Ubuntu', Arial, Helvetica, sans-serif;line-height:20px;font-size:13px;margin:0px;padding:0px;}
body, td, th, input, textarea, select, a{}
h1, .welcome{margin-top:0px;margin-bottom:15px;font-size:20px;font-weight:normal;text-shadow:0 0 1px rgba(0, 0, 0, .01);}
h2{font-size:14px;margin-top:0px;margin-bottom:5px;}
p{margin-top:0px;margin-bottom:20px;}
a, a:visited, a b{color:#444444;text-decoration:none;cursor:pointer;}
a:hover, a:active{text-decoration:none;color:#d95026;}
a img{border:none;}
form{padding:0;margin:0;display:inline;}
input[type='text'], input[type='password'], textarea{background:#F8F8F8;border:1px solid #CCCCCC;padding:3px;margin-left:0px;margin-right:0px;}
select{background:#F8F8F8;border:1px solid #CCCCCC;padding:2px;}
.input_tiny{width:50px;}
.input_small{width:100px;}
.input_medium{width:150px;}
.input_large{width:200px;}
.input_xlarge{width:250px;}
.input_xxlarge{width:300px;}
.input_full{width:100%;}
.input_full_wrap{display:block;padding-right:8px;}
::-moz-focus-inner{border:0;padding:0;}
input[type="search"]::-webkit-search-decoration{display:none;}
input,
button,
select,
textarea{margin:0;vertical-align:middle;z-index:0;position:relative;}
button:hover{transition-duration:300ms;background:#FF633F;}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"]{-webkit-appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-moz-background-clip:padding;-webkit-background-clip:padding;background-clip:padding-box;background-color:#fff;border:1px solid #CDCDCD;color:#555;outline:0;padding:5px 5px 5px 3px;width:205px;z-index:0;position:relative;}
::-webkit-input-placeholder{color:#888;}
input:-moz-placeholder,
textarea:-moz-placeholder{color:#888;}
input.placeholder_text,
textarea.placeholder_text{color:#888;}
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active{z-index:1;-moz-box-shadow:#bbb 0 0 3px;-webkit-box-shadow:#bbb 0 0 3px;box-shadow:#bbb 0 0 3px;}
.header .form-search input:focus,
.header .form-search input:active{-moz-box-shadow:#ddd 0 0 0px;-webkit-box-shadow:#ddd 0 0 0px;box-shadow:#ddd 0 0 0px;border:none;}
input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled]{background-color:#eee;}
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled]{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;-webkit-user-select:none;-moz-user-select:none;cursor:default;}
textarea,
select[size],
select[multiple]{height:auto;}
@media (-webkit-min-device-pixel-ratio:0){select{background-image:url(../image/megnor/select_arrow.gif);background-repeat:no-repeat;background-position:right center;padding-right:20px;}
select[size],
select[multiple]{background-image:none;padding:0;}
::-webkit-validation-bubble-message{box-shadow:rgba(0, 0, 0, 0.5) 0 0 5px;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));border:1px solid;border-color:#747474 #5e5e5e #4f4f4f;color:#fff;font:11px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;padding:15px 15px 17px;text-shadow:#000 0 0 1px;}
::-webkit-validation-bubble-top-outer-arrow,::-webkit-validation-bubble-top-inner-arrow{display:none;}
}
textarea{min-height:40px;overflow:auto;resize:vertical;width:100%;}
optgroup{font-style:normal;font-weight:normal;}
.ie6_button,
* html button{background:#ddd url('../image/button.png') repeat-x;border:1px solid;border-color:#ddd #bbb #999;cursor:pointer;color:#333;font:bold 12px/1.2 Arial, sans-serif;padding:2px 10px 0px;overflow:visible;width:auto;}
* html button{padding-top:1px;padding-bottom:1px;}
.ie6_input,
* html textarea,
* html select{background:#fff;border:1px solid;border-color:#848484 #c1c1c1 #e1e1e1;color:#000;padding:2px 3px 1px;font-size:13px;vertical-align:top;}
* html select{margin-top:1px;}
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled{color:#888;}
.ie6_input_disabled{background:#eee;}
label{cursor:pointer;}
#container{}
#header,
.nav-inner,
.content-inner,
.footer-inner,
.copyright-container{width:1100px;margin:0 auto;text-align:left;}
#header-container,
.nav-container,
#content-wrapper,
#footer-container,
.copyright-container{clear:both;}
#header-container{background:#222426;}
.nav-container{background:#222426;border-top:1px solid #525457;}
#column-left{float:left;width:249px;background:#f2f2f2;margin-bottom:25px;}
#column-right{float:right;width:249px;background:#f2f2f2;margin-bottom:25px;}
#column-left > div, #column-right > div{padding:15px 10px;border-bottom:4px double #FFFFFF;}
#column-left > div:last-child, #column-right > div:last-child{border-bottom:none;}
#content{min-height:400px;margin-bottom:25px;}
#column-left + #column-right + #content, #column-left + #content{margin-left:279px;}
#column-right + #content{margin-right:279px;}
#header{min-height:110px;padding-bottom:3px;position:relative;z-index:1010;color:#979797 !important;}
#header a{color:#fff !important;}
#header .mini-cart-info .name > a{color:#000 !important;}
#header a:hover{color:#D95026;}
.lang_image:hover{color:#FFFFFF;}
#header #logo{margin-top:16px;margin-left:19px;position:relative;z-index:1;}
#header .header-left{float:left;width:33%;position:relative;z-index:5;}
#header .header-right{float:right;position:relative;}
#header .header-middle{position:absolute;margin-left:33%;width:36%;text-align:center;}
#content .welcome{display:none;visibility:hidden;}
.language_div, .currency_div{background-color:#FFFFFF;padding:10px;border:1px solid #ddd;display:none;position:absolute;width:125px;z-index:99;}
#language{margin:12px 5px 0px 0px;float:left;}
#language .lang_image{padding-left:0px;cursor:pointer;}
#language .language_div img{cursor:pointer;margin-right:5px;}
#language .language_label, .currency_label{display:none;}
#currency{float:left;margin:12px 5px 0;}
#currency .top_downarrow , #language .top_downarrow{background:url('../image/megnor/arrow-down.png') right 5px no-repeat;padding-right:10px;cursor:pointer;}
#currency.active .top_downarrow , #language.active .top_downarrow{background:url('../image/megnor/arrow-up.png') right 5px no-repeat;}
#currency .show:hover , #language .show:hover{color:#dc6039;cursor:pointer;}
.currency_div a ,.language_div a{display:block;padding:2px 4px;text-align:left;margin-right:2px;}
#currency > .show a:hover{color:#979797;}
.header_callus{float:left;margin:12px 0px 0px 5px;}
#header #cart{position:absolute;right:0px;top:50px;z-index:9;}
#header #cart .heading{float:right;position:relative;z-index:1;}
#header #cart .heading h4{font-size:14px;font-weight:normal;margin-top:0px;margin-bottom:3px;display:none;}
#header #cart .heading > a{background:url(../image/megnor/cart.png) no-repeat scroll 0px 0px transparent;padding:6px 0px;}
#header #cart .heading > a:hover{background:url(../image/megnor/cart-hover.png) no-repeat scroll 0px 0px transparent;padding:6px 0px;}
#header #cart .heading #cart-total{color:#767676;padding-left:26px;}
#header #cart .heading #cart-total{background:url('../image/megnor/arrow-down.png') right 7px no-repeat;padding-right:15px;}
#header #cart.active .heading #cart-total{background:url('../image/megnor/arrow-up.png') right 7px no-repeat;padding-right:15px;}
#header #cart .content{clear:both;display:none;float:right;position:relative;top:2px;padding:8px 8px 20px;min-height:200px;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;background:#FFF;min-width:520px;}
#header #cart .mini-cart-info{max-height:350px;overflow:auto;}
#header #cart.active .content{display:block;}
.mini-cart-info table{border-collapse:collapse;width:100%;margin-bottom:5px;}
.mini-cart-info td{vertical-align:top;padding:10px 5px 5px 0;border-bottom:1px solid #EEEEEE;}
.mini-cart-info .image{width:1px;}
.mini-cart-info .image img{border:1px solid #EEEEEE;text-align:left;}
.mini-cart-info .name small{color:#666;}
.mini-cart-info .quantity{text-align:right;}
.mini-cart-info td.total{text-align:right;}
.mini-cart-info .remove{text-align:right;}
.mini-cart-info .remove img{cursor:pointer;}
.mini-cart-total{text-align:right;border-top:2px solid #eeeeee;}
.mini-cart-total table{border-collapse:collapse;display:inline-block;margin-bottom:5px;}
.mini-cart-total td{padding:4px;}
#header #cart .checkout{text-align:right;clear:both;}
#header #cart .empty{padding-top:50px;text-align:center;}
#header #cart .content .checkout{padding-bottom:3px;}
#header #cart .content .checkout > a{padding:6px 10px;background:#4e5051;color:#FFFFFF;margin-left:5px;}
#header #cart .content .checkout > a:hover{background:#e96941;}
#header #search{width:210px;z-index:15;float:left;position:relative;margin-top:10px;border-bottom:1px solid #4a4c4f;}
#header .button-search{position:absolute;right:0px;top:4px;background:url('../image/megnor/sprite.png') 0px -166px no-repeat;width:24px;height:24px;cursor:pointer;z-index:9;}
#header #search input{background:none;padding:6px 33px 5px 0px;color:#b7b7b7;width:210px;border:none;font-family:'Ubuntu', Arial, Helvetica, sans-serif;font-size:14px;}
#header #search input:focus{box-shadow:none;}
#header .top-link{}
#header .welcome-links{width:100%;float:right;}
#header #welcome{z-index:5;text-align:right;margin-top:12px;float:right;}
#header .links{float:right;margin-top:12px;text-align:right;}
#header .links a , #header #welcome a{display:inline;padding:0px 0px 0px 12px;}
#header .links a:hover, #header #welcome a:hover{color:#FFF;}
#header .links a , #header #welcome a + a{margin-left:8px;background:url(../image/megnor/header-sepretor.png) no-repeat left center;}
#header .links a.logout{}
.tm_headerlinkmenu{display:none;}
.tm_headerlinks_inner{cursor:pointer;overflow:hidden;}
.headertoggle_img{background:url("../image/megnor/sprite.png") no-repeat scroll -30px -165px;float:right;height:20px;margin:10px 10px 0 15px;width:30px;cursor:pointer;float:none;margin:0 auto;}
.header_bottom{background:#f2f2f2;margin-bottom:52px;}
.home .header_bottom{margin-bottom:20px;}
.header_bottom_inner{width:1100px;margin:0 auto;text-align:center;}
.header_service_block{display:inline-block;width:100%;}
.header_service_block a{color:#000 !important;display:block;}
.header_service_block a:hover{color:#000 !important;}
.header_service_block > div{float:left;margin:9px 0px 6px;text-transform:uppercase;text-align:left;}
.header_service_block .header_service1{width:345px;}
.header_service_block .header_service2{width:49%;border-right:1px solid #d7d7d7;}
.header_service_block .header_service3{width:49%;text-align:left;float:right;}
.service_block1{padding:10px 0px 5px 34px;background:url(../image/megnor/icon_sprite.png) no-repeat scroll -3px 11px transparent;}
.service_block2{padding:10px 0px 5px 99px;background:url(../image/megnor/icon_sprite.png) no-repeat scroll 61px -49px transparent;}
.service_block3{padding:10px 0px 5px 110px;background:url(../image/megnor/icon_sprite.png) no-repeat scroll 75px -110px transparent;}
.nav-responsive{display:none;}
.responsive-menu,
.main-menu{height:44px;margin-bottom:0px;}
.main-menu{text-align:center;}
.main-menu ul{list-style:none;margin:0;padding:0;display:inline-block;text-align:left;}
.main-menu > ul > li{position:relative;float:left;z-index:20;margin-right:10px;}
.main-menu > ul > li:hover{}
.nav-responsive span,
.main-menu > ul > li > a{color:#f8f8f8;display:block;font-family:"Roboto",Arial,Helvetica,sans-serif;font-size:14px;font-weight:bold;margin-bottom:-15 !important;padding:12px 10px;position:relative;text-transform:uppercase;z-index:0;}
.main-menu a:hover{text-decoration:none}
.main-menu > ul > li:hover > a{color:#e96941;}
.main-menu > ul > li > ul , .responsive-menu .main-navigation{display:none;background:#000;position:absolute;z-index:5;padding:15px 5px;box-shadow:0px 1px 2px #d5d5d5;}
.main-menu > ul > li > ul:before{content:"";border-bottom:7px solid #fff;border-left:6px solid transparent;border-right:6px solid transparent;position:absolute;top:-6px;left:8%;}
.main-menu > ul > li:hover > ul{display:block;}
.main-menu > ul > li ul > li > ul{display:none;background:#FFF;position:absolute;z-index:5;padding:10px 5px;margin-left:-5px;box-shadow:0px 1px 2px #d5d5d5;}
.main-menu > ul > li ul > li:hover > ul{display:block;top:0px;left:190px;}
.main-menu > ul > li > ul > ul{}
.main-menu > ul > li ul + ul{}
.main-menu > ul > li ul > li > a , .responsive-menu .main-navigation li a{padding:4px 4px 6px;color:#fff !important;display:block;white-space:nowrap;text-transform:uppercase !important;}
.main-menu > ul > li ul > li > a{min-width:155px;padding-left:28px;background:url(../image/megnor/cat_arrow_both.png) no-repeat scroll 11px 4px transparent;transition-duration:500ms;}
.main-menu > ul > li ul > li > a:hover , .responsive-menu .main-navigation li a:hover{color:#dc6039;background-position:11px -24px;}
.main-menu > ul > li ul > li > a.activSub{}
.main-menu > ul > li > ul > ul > li > a{color:#FFFFFF;}
.content-inner{position:relative;}
.breadcrumb{color:#aaa;margin-bottom:10px;position:absolute;left:0px;top:-36px;text-transform:capitalize;}
.breadcrumb a{margin:0px 3px 0px 3px}
.breadcrumb > a:first-child, .breadcrumb li:first-child a{margin-left:0px;}
.breadcrumb ul{list-style-type:none;padding:0px;margin:0px;list-style:none;}
.breadcrumb ul li{padding:0;margin:0;display:inline;position:relative;}
#content > h1{padding-top:0px;margin-bottom:18px;color:#222426;font-family:'Roboto', Arial, Helvetica, sans-serif;text-transform:uppercase;}
.success, .warning, .attention, .information{padding:10px 10px 10px 33px;margin-bottom:15px;color:#555555;position:relative;}
#notification a{color:#dc6039;}
.success{background:#EFEFEF url('../image/megnor/success.png') 10px center no-repeat;border:1px solid #DBDEE1;}
.warning{background:#FFD1D1 url('../image/warning.png') 10px center no-repeat;border:1px solid #F8ACAC;}
.attention{background:#FFF5CC url('../image/attention.png') 10px center no-repeat;border:1px solid #F2DD8C;}
.success .close, .warning .close, .attention .close, .information .close{float:right;padding-top:6px;padding-right:4px;cursor:pointer;position:absolute;right:10px;}
.required{color:#DF0505;font-weight:bold;}
.error{display:block;color:#DF0505;}
.help{color:#999;font-size:12px;font-weight:normal;display:block;}
table.form{width:100%;border-collapse:collapse;margin-bottom:10px;}
table.form tr td:first-child{width:150px;}
table.form > * > * > td{color:#666;}
table.form td{padding:4px;}
input.large-field, select.large-field{width:270px;}
table.list{border-collapse:collapse;width:100%;border-top:1px solid #DDDDDD;border-left:1px solid #DDDDDD;margin-bottom:20px;}
table.list td{border-right:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;}
table.list thead td{background-color:#EFEFEF;padding:0px 5px;}
table.list thead td a, .list thead td{color:#222222;font-weight:bold;}
table.list tbody td{padding:0px 5px;}
table.list .left{text-align:left;padding:7px;}
table.list .right{text-align:right;padding:7px;}
table.list .center{text-align:center;padding:7px;}
table.radio{width:100%;border-collapse:collapse;}
table.radio td{padding:5px;}
table.radio td label{display:block;}
table.radio tr td:first-child{width:1px;}
table.radio tr td:first-child input{margin-top:1px;}
table.radio tr.highlight:hover td{background:#FBFBFB;cursor:pointer;}
.pagination{border-top:0px solid #EEEEEE;padding:5px;display:inline-block;width:100%;margin-bottom:10px;margin-top:10px;}
.pagination .links{float:right;}
.pagination .links a{display:inline-block;border:1px solid #EEEEEE;padding:4px 10px;background:#eee;color:#A3A3A3;}
.pagination .links b , .pagination .links a:hover{display:inline-block;border:1px solid #ddd;padding:4px 10px;font-weight:normal;color:#000;background:#dddddd;}
.pagination .results{float:left;padding-top:5px;}
a.button, input.button{cursor:pointer;color:#FFFFFF;background:#4e5051;}
a.button{display:inline-block;padding:4px 12px 4px 12px;}
input.button{margin:0;border:0;height:28px;padding:0px 12px 0px 12px;font-family:'Open Sans',Arial, Helvetica, sans-serif;}
.ie7 input.button{padding:0 3px;}
a.button:hover, input.button:hover{background:#e96941;}
.buttons{background:#FFFFFF;overflow:auto;padding:6px;margin-bottom:10px;}
.buttons .left{float:left;text-align:left;}
.buttons .right{float:right;text-align:right;}
.buttons .center{text-align:center;margin-left:auto;margin-right:auto;}
#button-quote{margin-top:5px;}
.htabs{height:38px;line-height:22px;border-bottom:3px double #dbdbdb;}
.htabs a{padding:8px 15px;float:left;text-align:center;font-size:20px;font-family:'Roboto', Arial, Helvetica, sans-serif;margin-right:3px;display:none;color:#333333;text-transform:uppercase;}
.htabs a.selected, .htabs a:hover{padding-bottom:8px;border-bottom:3px solid #d95026;color:#d95026;}
.tab-content{padding:10px;margin-bottom:20px;z-index:2;}
#tab-related{position:relative;padding-top:25px;}
#products-related{}
.box{margin-bottom:5px;}
.box .box-heading{color:#000;font-size:20px;background:none;font-family:'Roboto', Arial, Helvetica, sans-serif;padding:0 0 10px;text-transform:uppercase;}
.box .box-content{padding:9px 10px 3px;}
#bf-brainyfilter-anchor{display:none;}
#content .box .box-heading{color:#000;font-size:20px;background:none;font-family:'Roboto', Arial, Helvetica, sans-serif;padding:2px 0px 0px 11px;}
#content .box .box-content{border:none;padding:10px 0;}
.box .box-content ul , #content .content ul{padding:0px;margin:0px;list-style:none;}
.box .box-content ul li , #content .content ul li{line-height:22px;padding:3px 0;}
.box .box-content .box-filter li{padding:0;}
#button-filter{margin-top:10px;}
.box .box-content > ul > li:first-child{padding-top:0px;}
.box .box-content ul li a , #content .content ul li a{background:url(../image/megnor/cat_arrow_both.png) no-repeat left -2px;padding-left:12px;}
.box .box-content ul li a + a , .box .box-content ul li a + a:hover{background:none;padding-left:0;}
.box .box-content ul li a:hover , #content .content ul li a:hover, ul.box-category > li a.active{background-position:left -30px;}
.box .box-content ul ul{margin-left:15px;}
ul.box-category, ul.box-category ul{list-style:none;margin:0;padding:0;}
ul.box-category > li:first-child{padding-top:2px;}
ul.box-category > li{padding:4px 0px 4px 0px;}
.box .box-content ul li + li{}
ul.box-category > li > a{}
ul.box-category > li ul{display:none;}
ul.box-category > li a.active{font-weight:normal;color:#dc6039;}
ul.box-category > li a.active + ul{display:block;margin-left:15px;}
ul.box-category > li ul > li{padding:5px 5px 0px 10px;}
ul.box-category > li ul > li > a{background:url(../image/megnor/cat_arrow_both.png) no-repeat left 1px !important;padding-left:12px;display:block;}
ul.box-category > li ul > li > a:hover, ul.box-category > li ul > li > a.active{background:url(../image/megnor/cat_arrow_both.png) no-repeat left -27px !important;}
ul.box-category > li ul > li > a.active{font-weight:normal;}
ul.box-filter, ul.box-filter ul{list-style:none;margin:0;padding:0;}
ul.box-filter span{font-weight:bold;display:block;}
ul.box-filter > li ul{padding-bottom:10px;}
#content .content{padding:10px;overflow:auto;margin-bottom:10px;border:1px solid #EEEEEE;}
#content .content .left{float:left;width:49%;}
#content .content .right{float:right;width:49%;}
.category-info{overflow:auto;margin-bottom:0px;}
.category-info > p{margin-bottom:15px;}
.category-info .image{float:left;}
.category-list{overflow:auto;margin-bottom:15px;}
.category-list ul{position:relative;width:100%;padding:0px;margin:0px;list-style:none;}
.category-list ul li{margin:0 7px 7px 0;position:relative;overflow:auto;float:left;padding:0;}
.category-list ul li a{padding:5px 8px;background-color:#f2f2f2;display:block;}
.category-list ul li a:hover{background-color:#f9f9f9;color:#000;}
.manufacturer-list{border:1px solid #DBDEE1;padding:5px;overflow:auto;margin-bottom:20px;}
.manufacturer-heading{background:#F8F8F8;font-size:15px;font-weight:bold;padding:5px 8px;margin-bottom:6px;}
.manufacturer-content{padding:8px;}
.manufacturer-list ul{float:left;width:25%;margin:0;padding:0;list-style:none;margin-bottom:10px;}
.product-filter{background:#f2f2f2;padding:5px;overflow:auto;margin-bottom:10px;text-transform:uppercase;}
.product-filter select{width:auto;cursor:pointer;}
.product-filter .display{margin-right:15px;float:left;padding-top:3px;}
.product-filter .display .List a{background:url("../image/megnor/sprite.png") no-repeat scroll -31px -233px transparent;display:block;float:left;width:31px;height:29px;text-decoration:none;text-indent:-9999px;}
.product-filter .display .Grid a{background:url("../image/megnor/sprite.png") no-repeat scroll -1px -233px transparent;display:block;float:left;width:31px;height:29px;text-decoration:none;text-indent:-9999px;}
.product-filter .display .List , .product-filter .display .List a:hover{background:url("../image/megnor/sprite.png") no-repeat scroll -31px -205px transparent;display:block;float:left;width:31px;height:29px;text-decoration:none;text-indent:-9999px;}
.product-filter .display .Grid , .product-filter .display .Grid a:hover{background:url("../image/megnor/sprite.png") no-repeat scroll -1px -205px transparent;display:block;float:left;width:31px;height:29px;text-decoration:none;text-indent:-9999px;}
.product-filter .display a{font-weight:bold;}
.product-filter .sort{float:right;padding-top:4px;}
.product-filter .limit{margin:0px 10px 0px 15px;float:right;padding-top:4px;}
.product-compare{padding-top:8px;margin-bottom:7px;font-weight:bold;}
.product-compare a{font-weight:normal;}
.product-info-tags{margin-bottom:15px;}
#column-left .box-product,
#column-right .box-product{width:100%;overflow:hidden;}
#column-left .box-product > div,
#column-right .box-product > div{display:block;vertical-align:top;margin-right:0px;margin-bottom:20px;width:100%;padding:5px 0px 3px 2px;}
#column-left .box-product .image,
#column-right .box-product .image,
#content #special .box-product .image,
#content #bestseller .box-product .image{display:block;margin-bottom:0px;float:left;margin-right:7px;width:63px;height:69px;border:1px solid #e6e6e6;}
#column-left .box-product .image img,
#column-right .box-product .image img,
#content #special .box-product .image img,
#content #bestseller .box-product .image img{vertical-align:middle;}
#column-left .box-product .name,
#column-right .box-product .name,
#content #special .box-product .name,
#content #bestseller .box-product .name{display:block;}
#column-left .box-product .cart,
#column-right .box-product .cart{display:block;}
#column-left .box-product .cart .button,
#column-right .box-product .cart .button{padding:0;background:none;box-shadow:none;height:auto;font-weight:normal;border-radius:0;color:#555;display:block;text-align:left;}
#column-left .box-product .cart .button:hover,
#column-right .box-product .cart .button:hover{text-decoration:underline;}
#column-left .box-product .image img,
#column-right .box-product .image img{width:60px;}
#column-left .box-product .rating,
#column-right .box-product .rating,
#column-left .box-product .name,
#column-right .box-product .name,
#column-left .box-product .price,
#column-right .box-product .price,
#column-left .box-product .cart,
#column-right .box-product .cart{margin-left:77px;}
#column-left .box-product .rating,
#column-right .box-product .rating{display:block;margin-bottom:0px;}
.product-grid-list{}
#content .box-product,
.product-grid-list ul{list-style-type:none;position:relative;width:100%;padding:0px;margin:0px;list-style:none;overflow:hidden;}
.product-grid-list ul li,
#content .box-product .product-items{margin-bottom:14px;padding:0;margin:0;position:relative;overflow:hidden;}
.product-grid li,
#content .box-product .product-items,
#content .product-carousel .slider-item{width:270px;float:left;display:inline-block;}
.ie7 .product-grid li{width:192px !important;}
#content .image-additional .slider-item{display:inline-block;float:left;}
#content .image-additional .slider-item .product-block{margin:4px 3px;background:#fff;clear:both;overflow:hidden;border:1px solid #e7e7e7;}
.grid_default_width{width:270px;}
.featured_default_width{width:270px;}
.module_default_width{width:185px;}
.latest_default_width{width:270px;}
.special_default_width{width:270px;}
.related_default_width{width:270px;}
.bestseller_default_width{width:270px;}
.additional_default_width{width:74px;}
.testimonial_default_width{width:550px;}
.banners-slider-carousel{position:relative;margin-bottom:15px;width:100%;clear:both;}
.banners-slider-carousel .product-block-inner{text-align:center;}
#content .product-carousel .product-block,
#content .product-grid-list .product-block,
#content .box-product .product-block{margin:9px 7px 10px;background:#fff;clear:both;overflow:hidden;}
#content .product-carousel .product-block:hover,
#content .product-grid-list .product-block:hover,
#content .box-product .product-block:hover{overflow:hidden;clear:both;}
.ie7 #content .product-carousel .product-block,
.ie7 #content .product-grid-list .product-block,
.ie7 #content .box-product .product-block{border:1px solid #ddd;}
.ie7 #content .product-carousel .product-block:hover,
.ie7 #content .product-grid-list .product-block:hover,
.ie7 #content .box-product .product-block:hover{border:1px solid #ddd;}
#content .product-carousel .product-block-inner,
#content .product-grid-list .product-block-inner,
#content .box-product .product-block-inner{padding:5px 5px;text-align:left;overflow:hidden;position:relative;}
#content .product-grid-list .product-grid .product-block .product-block-inner .name, #products-related .box-product .product-block .name{margin:8px 0 0;}
#content .product-list .product-block-inner{text-align:left;}
.product-list .image{float:left;margin-right:10px;border:1px solid #e6e6e6;}
.product-list .wishlist{float:left;margin-right:15px;}
.product-list .left{float:left;position:relative;width:32%;}
#content .product-list .image img{width:100%;padding:2px 0px;}
.product-list .right{float:left;margin-left:15px;text-align:left;width:60%;}
.product-grid .image,
#content .box-product .image{display:block;margin-bottom:0px;border:1px solid #e6e6e6;overflow:hidden;height:302px;text-align:center;}
.product-grid-list .image img,
#content .box-product .image img,
#column-left .box-product .image img,
#column-right .box-product .image img{padding:2px;vertical-align:middle;}
#column-left .box-product .image img,
#column-right .box-product .image img{padding:2px;}
#column-left .box-product .image,
#column-right .box-product .image{background:#FFFFFF;}
.product-grid-list .name a,
#content .box-product .name a,
#column-left .box-product .name a,
#column-right .box-product .name a{}
.product-grid-list .name a,
#content .box-product .name a{margin-bottom:4px;margin-top:8px;}
.product-grid-list .name a:hover,
#content .box-product .name a:hover,
#column-left .box-product .name a:hover,
#column-right .box-product .name a:hover{}
.product-grid .description,
#content .box-product .description{display:none;}
.product-list .name a{margin-top:0px;font-size:14px;margin-bottom:10px;}
.product-list .description{margin-bottom:10px;color:#4D4D4D;}
.product-grid .rating,
#content .box-product .rating{display:block;position:absolute;top:8px;right:12px;float:right;}
.product-grid .rating img, #content .box-product .rating img{margin:0 auto;}
.product-list .rating{color:#7B7B7B;margin-top:10px;}
.product-list .price,
.product-grid .price,
#content .box-product .price{font-size:14px;}
.product-grid .price,
#content .box-product .price{display:block;color:#2E2E2E;font-family:'Roboto', Arial, Helvetica, sans-serif;font-size:16px;font-weight:500;}
#column-left .box-product .price,
#column-right .box-product .price{display:block;color:#2E2E2E;font-size:20px;font-family:'Roboto', Arial, Helvetica, sans-serif;font-weight:700;}
.product-list .price{float:none;margin:10px 0px;}
.product-list .price,
.product-grid-grid .price,
#content .box-product .price{color:#2E2E2E;font-family:'Roboto', Arial, Helvetica, sans-serif;font-size:16px;font-weight:500;}
#column-left .box-product .price,
#column-right .box-product .price{font-size:15px;font-weight:500;}
.product-grid-list .price-old,
#content .box-product .price-old,
#column-left .box-product .price-old,
#column-right .box-product .price-old{text-decoration:line-through;display:inline;font-size:13px;color:#444444;font-weight:normal;}
.product-grid-list .price-old,
#content .box-product .price-old{font-size:14px;}
.product-grid-list .price-new,
#content .box-product .price-new,
#column-left .box-product .price-new,
#column-right .box-product .price-new{display:inline;}
.product-grid .price .price-tax,
#content .box-product .price .price-tax{display:none;}
.product-grid-list .price-tax{color:#999;font-size:14px;}
.product-grid-list .cart,
#content .box-product .cart , .related-products a.button{margin-bottom:5px;margin-top:4px;}
.product-grid-list .wishlist, .product-grid-list .compare,
#content .box-product .wishlist, #content .box-product .compare{}
.product-list .wishlist a{padding:2px 0px 2px 25px;background:url('../image/megnor/hover-icon.png') -4px -118px no-repeat;}
.product-list .wishlist a:hover{background-position:-4px -192px;color:#505050;}
.product-list .compare a{padding:2px 0px 2px 25px;background:url('../image/megnor/hover-icon.png') -4px -153px no-repeat;}
.product-list .compare a:hover{background-position:-4px -227px;color:#505050;}
.page_product #content .box .box-heading{padding:10px;position:relative;}
.page_product #content .box .box-heading .heading_bg{top:11px;width:70%;right:8%;}
.product-info{margin-bottom:20px;overflow:auto;}
.product-info > .left{float:left;margin-right:15px;margin-bottom:15px;position:relative;}
.product-info > .left + .right{margin-left:420px;}
.product_right_left{float:left;width:56%;}
.product_right_right{float:right;width:255px;}
.product-info .right h1.name{margin-bottom:15px;}
.product-info .image{border:1px solid #E7E7E7;display:block;margin-bottom:15px;text-align:center;position:relative;}
.product-info .image img{vertical-align:middle;width:100%;}
.product-info .zoomContainer{z-index:9;left:0px !important;top:0px !important;}
.zoomContainer .zoomWindow{height:500px !important;}
.product-info .additional-carousel{position:relative;}
.product-info .image-additional{clear:both;overflow:hidden;padding-left:15px;padding-right:15px;width:331px;margin:0 auto;}
.product-info .image-additional img{vertical-align:middle;}
.product-info .image-additional a{float:left;display:block;}
.product-info .description{border-bottom:1px solid #E7E7E7;padding:0px;margin-bottom:10px;line-height:18px;}
.product-info .description .product-description{}
.product-info .description .product-description .description-right{padding-left:10px;}
.product-info .description span{color:#444;}
.product-info .description a{color:#dc6039;}
.product-info .description a:hover{color:#000;}
.product-info .price{overflow:auto;border-bottom:1px solid #E7E7E7;padding:10px 0 10px;margin-bottom:10px;font-size:16px;font-weight:normal;}
.product-info .price-old{font-size:14px;text-decoration:line-through;}
.product-info .price-new{color:#2e2e2e;font-size:20px;}
.product-info .price-tax{font-size:12px;font-weight:normal;color:#999;margin-left:5px;}
.product-info .price .reward{font-size:12px;font-weight:normal;color:#999;}
.product-info .price .discount{font-weight:normal;font-size:12px;color:#4D4D4D;}
.product-info .options{padding:0px 5px 0px 5px;margin-bottom:0;z-index:999;}
.product-info .options textarea{width:95%;}
.product-info .options b,
.product-info .options strong{font-weight:normal;}
.product-info .options h2{font-size:18px;font-weight:normal;color:#444;margin-bottom:12px;}
.product-info .option-image{margin-top:3px;margin-bottom:10px;}
.product-info .option-image label{display:block;width:100%;height:100%;}
.product-info .option-image img{margin-right:5px;border:1px solid #CCCCCC;cursor:pointer;}
.product-info .cart{border-bottom:1px solid #E7E7E7;padding:10px 5px 10px 5px;margin-bottom:0px;color:#4D4D4D;z-index:999;}
.product-info .cart input{width:auto;text-align:center;}
.product-info .cart div > span{color:#999;}
.product-info .cart .links{display:inline-block;vertical-align:middle;margin:15px 0px 5px;}
.product-info .cart .links .product_wishlist{padding:2px 0px 2px 25px;background:url('../image/megnor/hover-icon.png') -4px -118px no-repeat;margin-right:10px;}
.product-info .cart .links .product_wishlist:hover{background-position:-4px -192px;color:#505050;}
.product-info .cart .links .product_compare{padding:2px 0px 2px 25px;background:url('../image/megnor/hover-icon.png') -3px -153px no-repeat;}
.product-info .cart .links .product_compare:hover{background-position:-3px -227px;color:#505050;}
.product-info .cart .minimum{padding-top:5px;font-size:11px;color:#999;}
.product-info .review{color:#4D4D4D;}
.product-info .review a.review-write{padding-left:20px;background:url('../image/megnor/pencil.png') left center no-repeat;display:inline-block;margin:0px;}
.product-info .review > div{padding:10px 0px;;line-height:20px;border-bottom:1px solid #E7E7E7;}
.product-info .review > div > span{color:#dc6039;}
.product-info .share{overflow:auto;line-height:normal;border-bottom:none;padding:16px 0px 10px;}
.product-info .review .share a{}
.product_static_block{border:1px solid #e3e3e3;margin-bottom:21px;padding:15px 20px;}
.product_block_main_title{border-bottom:1px solid #e3e3e3;font-size:16px;font-family:'Roboto', Arial, Helvetica, sans-serif;padding-bottom:5px;}
.product_block_main_title a{color:#222426;}
.pruduvt_block_sub_text{margin:5px 0px;}
.info_banner_block img{width:100%;}
#tab-review b,
#tab-review strong{font-weight:normal;}
#tab-review h2{margin-bottom:8px;text-transform:uppercase;}
#tab-review label{display:block;font-weight:bold;margin-bottom:5px;}
#tab-review .entery_rating{line-height:25px;}
#tab-review .entery_captcha{line-height:25px;}
#tab-review br.spacing{margin-bottom:5px;}
.review-list{padding:10px 0;overflow:auto;margin-bottom:10px;border-bottom:1px solid #EEEEEE;}
#review .pagination{border:none;margin-top:0;}
.review-list .author{float:left;margin-bottom:10px;}
.review-list .date{float:left;margin-left:5px;}
.review-list .rating{float:left;margin-bottom:10px;margin-left:5px;}
.review-list .text{clear:both;}
.attribute{border-collapse:collapse;width:100%;border-top:1px solid #DDDDDD;border-left:1px solid #DDDDDD;margin-bottom:20px;}
.attribute thead td, .attribute thead tr td:first-child{font-size:14px;font-weight:bold;background:#F7F7F7;text-align:left;}
.attribute tr td:first-child{font-weight:bold;text-align:right;width:20%;}
.attribute td{padding:7px;color:#4D4D4D;text-align:center;vertical-align:top;border-right:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;}
.compare-info{border-collapse:collapse;width:100%;border-top:1px solid #DDDDDD;border-left:1px solid #DDDDDD;margin-bottom:20px;}
.compare-info thead td, .compare-info thead tr td:first-child{font-size:14px;font-weight:bold;background:#F7F7F7;text-align:left;}
.compare-info tr td:first-child{font-weight:bold;text-align:right;}
.compare-info td{padding:7px;width:20%;color:#4D4D4D;text-align:center;vertical-align:top;border-right:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;}
.compare-info td.remove a{background:#ee5f5b;background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.compare-info td.remove a:hover{background:#bd362f;background-image:-moz-linear-gradient(top, #bd362f, #ee5f5b);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#bd362f), to(#ee5f5b));background-image:-webkit-linear-gradient(top, #bd362f, #ee5f5b);background-image:-o-linear-gradient(top, #bd362f, #ee5f5b);background-image:linear-gradient(to bottom, #bd362f, #ee5f5b);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd362f', endColorstr='#ffee5f5b', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.compare-info .name a{font-weight:bold;}
.compare-info .price-old{font-weight:normal;color:#858789;text-decoration:line-through;}
.compare-info .price-new{font-weight:bold;}
.wishlist-info table{width:100%;border-collapse:collapse;border-top:1px solid #DDDDDD;border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;margin-bottom:20px;}
.wishlist-info td{padding:7px;}
.wishlist-info thead td{color:#4D4D4D;font-weight:bold;background-color:#F7F7F7;border-bottom:1px solid #DDDDDD;}
.wishlist-info thead .image{text-align:center;}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock{text-align:left;}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action{text-align:right;}
.wishlist-info tbody td{vertical-align:top;border-bottom:1px solid #DDDDDD;}
.wishlist-info tbody .image img{border:1px solid #DDDDDD;}
.wishlist-info tbody .image{text-align:center;}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock{text-align:left;}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action{text-align:right;}
.wishlist-info tbody .price s{color:#858789;}
.wishlist-info tbody .action img , #wishlist-info-table .tm_responsive_group .Action img{cursor:pointer;}
.login-content{margin-bottom:20px;overflow:auto;}
.login-content .right a{color:#dc6039;}
.login-content .right a:hover{text-decoration:underline}
.login-content h2{text-transform:uppercase}
.login-content .left{float:left;width:49%;}
.login-content .right{float:right;width:49%;}
.login-content .left .content, .login-content .right .content{min-height:220px;}
.login-content .left .content p, .login-content .right .content p{margin-top:5px;margin-bottom:10px}
.login-content .left .content b, .login-content .right .content b{font-weight:normal;}
.cart-left-area{float:left;width:48%;}
.cart-right-area{float:right;width:48%;}
.cart-clear{clear:both;overflow:hidden;}
.cart-buttons{border:none;}
.cart-buttons .right{}
.cart-buttons .center{text-align:left;}
.order-list{margin-bottom:10px;}
.order-list .order-id{width:49%;float:left;margin-bottom:2px;}
.order-list .order-status{width:49%;float:right;text-align:right;margin-bottom:2px;}
.order-list .order-content{padding:10px 0px;display:inline-block;width:100%;margin-bottom:20px;border-top:1px solid #EEEEEE;border-bottom:1px solid #EEEEEE;}
.order-list .order-content div{float:left;width:33.3%;}
.order-list .order-info{text-align:right;}
.order-detail{background:#EFEFEF;font-weight:bold;}
.return-list{margin-bottom:10px;}
.return-list .return-id{width:49%;float:left;margin-bottom:2px;}
.return-list .return-status{width:49%;float:right;text-align:right;margin-bottom:2px;}
.return-list .return-content{padding:10px 0px;display:inline-block;width:100%;margin-bottom:20px;border-top:1px solid #EEEEEE;border-bottom:1px solid #EEEEEE;}
.return-list .return-content div{float:left;width:33.3%;}
.return-list .return-info{text-align:right;}
.return-product{overflow:auto;margin-bottom:20px;}
.return-name{float:left;width:31%;margin-right:15px;}
.return-model{float:left;width:31%;margin-right:15px;}
.return-quantity{float:left;width:31%;}
.return-detail{overflow:auto;margin-bottom:20px;}
.return-reason{float:left;width:31%;margin-right:15px;}
.return-opened{float:left;width:31%;margin-right:15px;}
.return-opened textarea{width:98%;vertical-align:top;}
.return-captcha{float:left;}
.download-list{margin-bottom:10px;}
.download-list .download-id{width:49%;float:left;margin-bottom:2px;}
.download-list .download-status{width:49%;float:right;text-align:right;margin-bottom:2px;}
.download-list .download-content{padding:10px 0px;display:inline-block;width:100%;margin-bottom:20px;border-top:1px solid #EEEEEE;border-bottom:1px solid #EEEEEE;}
.download-list .download-content div{float:left;width:33.3%;}
.download-list .download-info{text-align:right;}
.cart-info table{width:100%;margin-bottom:15px;border-collapse:collapse;border-top:1px solid #DDDDDD;border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;}
.cart-info td{padding:7px;}
.cart-info thead td{color:#4D4D4D;font-weight:bold;background-color:#F7F7F7;border-bottom:1px solid #DDDDDD;}
.cart-info thead .image{text-align:center;}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity{text-align:left;}
.cart-info thead .price, .cart-info thead .total{text-align:right;}
.cart-info tbody td{vertical-align:top;border-bottom:1px solid #DDDDDD;}
.cart-info tbody .image img{border:1px solid #DDDDDD;}
.cart-info tbody .image{text-align:center;}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity{text-align:left;}
.cart-info .name > a{font-size:16px;font-weight:bold;}
.checkout .name > a{font-size:16px;font-weight:bold;}
.cart-info small{font-size:12px;}
.checkout-product small{font-size:12px;}
.cart-info tbody .quantity input[type='text'] , .Quantity input[type='text']{width:25px;text-align:center;}
.cart-info tbody .quantity img ,.Quantity img{top:5px;}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img ,.Quantity img{position:relative;cursor:pointer;}
.cart-info tbody .price, .cart-info tbody .total{text-align:right;}
.cart-info tbody span.stock{color:#DF0505;font-weight:bold;}
.cart-module > div{display:none;}
.cart-total{overflow:auto;padding-top:8px;margin-bottom:15px;}
.cart-right-area .checkout-button{text-align:right;}
.cart-total table{float:right;}
.cart-total td{padding:3px;text-align:right;}
.checkout-heading{background:#F2F2F2;border:1px solid #DBDEE1;padding:8px;font-weight:bold;font-size:13px;margin-bottom:3px;}
.checkout-heading a{float:right;margin-top:1px;font-weight:normal;}
.checkout-content{padding:15px;display:none;overflow:auto;border:1px solid #DBDEE1;border-top:none;margin-bottom:15px;}
.checkout-content .left{float:left;width:48%;}
.checkout-content .right{float:right;width:48%;}
.checkout-content .buttons .right{width:auto;}
.checkout-content .buttons .right #button-payment-method{margin-left:10px;}
.checkout-content .buttons{clear:both;}
.checkout-product table{width:100%;border-collapse:collapse;border-top:1px solid #DDDDDD;border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;margin-bottom:20px;}
.checkout-product td{padding:7px;}
.checkout-product thead td{color:#4D4D4D;font-weight:bold;background-color:#F7F7F7;border-bottom:1px solid #DDDDDD;}
.checkout-product thead .name, .checkout-product thead .model{text-align:left;}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total{text-align:right;}
.checkout-product tbody td{vertical-align:top;border-bottom:1px solid #DDDDDD;}
.checkout-product tbody .name, .checkout-product tbody .model{text-align:left;}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total{text-align:right;}
.checkout-product tfoot td{text-align:right;border-bottom:1px solid #DDDDDD;}
.contact-info{border:1px solid #EEEEEE;margin-bottom:10px;overflow:auto;padding:30px 30px;}
.contact-info .left{float:left;width:50%;margin:20px 0;}
.contact-info .right{float:left;width:50%;}
.sitemap-info{overflow:auto;margin-bottom:40px;}
.sitemap-info .left{float:left;width:48%;}
.sitemap-info .right{float:left;width:48%;}
#footer-container, .copyright-container{background:#222426;}
#footer{clear:both;overflow:auto;min-height:100px;padding:30px 0px 20px;border-bottom:1px solid #737374;color:#444444;line-height:17px;}
#footer h3{font-family:'Roboto', Arial, Helvetica, sans-serif;font-size:20px;margin-top:0px;margin-bottom:16px;color:#ffffff;font-weight:normal;text-transform:uppercase;}
#footer .column{float:left;width:290px;}
#footer .column ul{margin:0px;padding-left:0px;list-style:none;line-height:22px;}
#footer .column ul li{margin-bottom:7px;}
#footer .column li a{padding-left:1px;color:#737374;}
#footer .column a:hover{color:#D95026;}
#footer .social_block{width:240px;margin:0px 2px 0px 0px;}
#footer .social_block h3{margin-bottom:17px;}
#footer .social_block ul li a{padding:3px 0px 3px 36px;margin:0px 0px 8px -1px;display:block;}
.social_block li.facebook:before{background:url(../image/megnor/sprite.png) no-repeat scroll -15px -275px transparent;width:26px;height:26px;content:'';position:absolute;}
.social_block li.twitter:before{background:url(../image/megnor/sprite.png) no-repeat scroll -15px -360px transparent;width:26px;height:26px;content:'';position:absolute;}
.social_block li.gplus:before{background:url(../image/megnor/sprite.png) no-repeat scroll -15px -446px transparent;width:26px;height:26px;content:'';position:absolute;}
.social_block li.linkedin:before{background:url(../image/megnor/sprite.png) no-repeat scroll -15px -531px transparent;width:26px;height:26px;content:'';position:absolute;}
.social_block li.facebook:hover:before{background-position:-15px -317px;}
.social_block li.twitter:hover:before{background-position:-15px -402px;}
.social_block li.gplus:hover:before{background-position:-15px -488px;}
.social_block li.linkedin:hover:before{background-position:-15px -573px;}
#footer .contact_block{width:260px;font-size:14px;}
#footer .contact_block h3{margin-bottom:15px;}
.contact_block .address{padding-left:30px;line-height:24px;margin-bottom:9px;background:url(../image/megnor/contact_icon.png) no-repeat scroll -1px -76px transparent;color:#737374;}
.contact_block .phone{padding-left:30px;margin-bottom:11px;background:url(../image/megnor/contact_icon.png) no-repeat scroll -2px -2px transparent;color:#737374;}
.contact_block .email{padding-left:30px;background:url(../image/megnor/contact_icon.png) no-repeat scroll -1px -40px transparent;}
.fotter_bottom_section{border-bottom:1px solid #737374;display:inline-block;width:100%;}
.manufacture_block{float:left;padding:24px 0px;width:51%;}
.fotter_bottom_section .manufacturer_title{display:inline-block;font-family:'Roboto', Arial, Helvetica, sans-serif;font-size:20px;color:#ffffff;margin:0px 0px 15px;float:left;font-weight:normal;text-transform:uppercase;}
.manufacture_block > ul{list-style:none;padding-left:15px;margin:0px;float:left;width:78%;}
.manufacture_block > ul li{display:inline-block;padding:0px 8px 2px 4px;background:url(../image/megnor/pipe.gif) no-repeat scroll right 6px transparent;}
.manufacture_block > ul li:last-child{background:none;}
.seo_links{padding:15px 0;color:#737374;}
.seo_links a{color:#737374;}
.footer_bottom_banner{float:right;border-left:1px solid #737374;}
.footer_banner_image{padding:10px 20px;}
.footer_banner_image img{vertical-align:middle;}
.manufacturer_item > a{color:#737374;}
.manufacturer_item > a:hover{color:#D95026;}
.copyright-inner{display:inline-block;width:100%;}
#bottom-copyright{float:left;width:auto;text-align:center;display:none;}
#bottom-copyright a{color:#737374;}
#bottom-copyright a:hover{color:#D95026;}
#bottom-copyright ul{padding:0px;list-style:none;margin:1px 0px 2px;}
#bottom-copyright ul li{display:inline-block;padding:0px 8px 0px 4px;background:url(../image/megnor/pipe.gif) no-repeat scroll right center transparent;}
#bottom-copyright ul li:first-child{padding-left:0px;}
#bottom-copyright ul li.contact-last{background:none;}
#powered{margin:5px auto;text-align:center;width:auto;float:left;color:#737374;}
#powered > a{color:#737374;}
#powered > a:hover{color:#D95026;}
.payment_block{width:auto;float:right;text-align:center;}
.payment_block ul{list-style:none;display:inline-block;padding:0px;margin:5px 0;}
.payment_block ul li{display:inline-block;width:33px;height:20px;margin:0px 5px 0px 0px;}
.payment_block ul li a{display:block;height:100%;}
.payment_block ul li.visa{background:url(../image/megnor/visa.png) no-repeat scroll 0px 0px transparent;}
.payment_block ul li.discover{background:url(../image/megnor/discover.png) no-repeat scroll 0px 0px transparent;}
.payment_block ul li.american{background:url(../image/megnor/american_express.png) no-repeat scroll 0px 0px transparent;}
.payment_block ul li.gwallet{background:url(../image/megnor/google_wallet.png) no-repeat scroll 0px 0px transparent;}
.payment_block ul li.paypal{background:url(../image/megnor/paypal.png) no-repeat scroll 0px 0px transparent;}
.payment_block ul li.bitcoin{background:url(../image/megnor/bitcoin.png) no-repeat scroll 0px 0px transparent;}
.payment_block ul li.mastercard{background:url(../image/megnor/master_card.png) no-repeat scroll 0px 0px transparent;}
.payment_block ul li.westernunion{background:url(../image/megnor/western_union.png) no-repeat scroll 0px 0px transparent;}
.payment_block ul li.twoco{background:url(../image/megnor/2co.png) no-repeat scroll 0px 0px transparent;}
.banner{clear:both;margin-bottom:6px;}
.banner div{text-align:center;width:100%;display:none;}
.banner div img{margin:1px 0px 5px;max-width:100%;}
.captch_input{float:left;margin:4px 7px 0 0 !important;}
.saleback{height:36px;width:28px;padding:0px 4px;background-color:#e96941;position:absolute;top:15px;right:6%;border-radius:50% 50% 50% 0%;cursor:pointer;opacity:1;-moz-opacity:0;-khtml-opacity:0;-webkit-opacity:0;-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease;}
.sale{position:relative;top:4px;right:2px;display:block;padding:4px 0px;color:#FFF;text-align:right;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
.product-list .saleback{right:11%;opacity:1;-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;}
.product-grid .product-block:hover .saleback,
#content .box-product .product-block:hover .saleback{opacity:1;-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;}
#column-left .saleback , #column-right .saleback, #content #special .saleback, #content #bestseller .saleback{display:none;}
#content .aboutus{margin-bottom:20px;}
#content .aboutus .content{border:none;padding:0px;}
#content .aboutus .image1{float:left;width:60px;height:50px;background:url("../image/megnor/cms-sprite.png") no-repeat scroll 7px -165px;}
#content .aboutus .image2{float:left;width:60px;height:50px;background:url("../image/megnor/cms-sprite.png") no-repeat scroll 7px -105px;}
#content .aboutus .image3{float:left;width:60px;height:50px;background:url("../image/megnor/cms-sprite.png") no-repeat scroll 7px -45px;}
#content .aboutus .image4{float:left;width:60px;height:50px;background:url("../image/megnor/cms-sprite.png") no-repeat scroll 7px 15px;}
.contact-info .address{background:url("../image/megnor/cms-sprite.png") no-repeat scroll -7px -236px;padding:3px 0 3px 35px;}
.contact-info .telephone{background:url("../image/megnor/cms-sprite.png") no-repeat scroll -7px -315px;padding:3px 0 3px 35px;}
.contact-info .fax{background:url("../image/megnor/cms-sprite.png") no-repeat scroll -7px -273px;padding:3px 0 3px 35px;}
.address, .telephone{margin-bottom:35px;}
.contact-info label{font-weight:bold;}
.span_price, .span_image, .span_name, .span_model, .span_quantity, .span_total{display:none;}
.banner_block_inner{display:inline-block;width:100%;}
.home_banner_block .banner_block_inner > div{height:136px;overflow:hidden;float:left;position:relative;}
.first_banner, .second_banner{margin-right:20px;}
.banner_image{margin-top:0px;-webkit-transition:margin 1s ease;-moz-transition:margin 1s ease;-o-transition:margin 1s ease;-ms-transition:margin 1s ease;transition:margin 1s ease;}
.ie8 .banner_block_inner > div:hover .banner_image{margin:0px;}
.banner_image img{vertical-align:middle;}
.banner_block_inner > div:hover .banner_image{margin-top:-125px;}
.banner_text{position:absolute;bottom:12px;margin:0 auto;left:0px;text-align:center;right:0px;cursor:pointer;}
.banner_main-title > a{font-size:22px;font-family:'Roboto', Arial, Helvetica, sans-serif;COlor:#FFFFFF;}
.title_sub_block{line-height:14px;}
.banner_sub_title{text-transform:uppercase;color:#fff;font-size:12px;font-family:'Raleway', Arial, Helvetica, sans-serif;}
.shop_left_border, .shop_right_border{position:relative;top:-6px;border-bottom:1px solid #ffffff;padding:0px 20px;}
.sub_banner_block{margin-bottom:40px;}
.sub_banner_block_inner{display:inline-block;width:100%;}
.sub_banner_block_inner img{vertical-align:middle;}
.left_side{width:479px;overflow:hidden;position:relative;float:left;}
.left_sub_image, .right_top_image, .right_bottom1_image, .right_bottom2_image{margin-left:0px;-webkit-transition:all 600ms ease;-moz-transition:all 600ms ease;-o-transition:all 600ms ease;-ms-transition:all 600ms ease;transition:all 600ms ease;}
.left_side:hover .left_sub_image,
.right_side_top:hover .right_top_image,
.right_bottom_one:hover .right_bottom1_image,
.right_bottom_two:hover .right_bottom2_image{margin-left:-100px;}
.ie8 .left_side:hover .left_sub_image, .ie8 .right_side_top:hover .right_top_image, .ie8 .right_bottom_one:hover .right_bottom1_image, .ie8 .right_bottom_two:hover .right_bottom2_image{margin:0px;}
.left_sub_text{position:absolute;bottom:17%;cursor:pointer;text-align:center;margin:0px 0px -2px 111px;}
.left_main_title > a{color:#fff;font-size:26px;text-transform:uppercase;font-weight:bold;font-family:'Sintony', Arial, Helvetica, sans-serif;}
.left_sub_title{margin:2px 6px 0px 0px;}
.left_sub_title > a{color:#fff;font-size:15px;text-transform:uppercase;font-family:'Raleway', Arial, Helvetica, sans-serif;}
.right_main_title > a{color:#fff;font-size:22px;text-transform:uppercase;font-weight:bold;font-family:'Sintony', Arial, Helvetica, sans-serif;}
.right_sub_title > a{color:#fff;font-size:15px;font-family:'Raleway', Arial, Helvetica, sans-serif;}
.right_side{float:right;}
.right_side_top{width:601px;overflow:hidden;position:relative;margin-bottom:20px;}
.right_top_text{position:absolute;top:41%;cursor:pointer;margin-left:44px;}
.right_top_text .right_sub_title{margin:1px;}
.right_bottom_one{width:290px;overflow:hidden;position:relative;float:left;margin-left:1px;}
.right_bottom1_text{position:absolute;bottom:15%;cursor:pointer;margin-left:102px;}
.right_bottom_two{width:290px;overflow:hidden;position:relative;float:right;}
.right_bottom2_text{position:absolute;bottom:12%;cursor:pointer;margin-left:70px;text-align:center;margin-bottom:-1px;}
.right_bottom2_text .right_sub_title{margin:-1px 0px 0px 12px;}
.homepage-testimonial-block{width:465px;float:left;margin-right:35px;display:inline-block;margin-bottom:40px;}
.Latest_news_heading{color:#333333;font-size:20px;font-family:'Roboto', Arial, Helvetica, sans-serif;padding:5px 0px 19px 14px;border-bottom:1px solid #ececec;text-transform:uppercase;}
#testimonial .customNavigation{right:-1px;}
.customNavigation a:hover{border:1px solid #DC6039;}
.left-part{float:left;margin:31px 0px 0px 15px;}
.left-part .image-block{width:197px;height:170px;overflow:hidden;position:relative;}
.left-part .image-block img{vertical-align:middle;width:100%;}
.right-part{float:left;margin:26px 0px 0px 15px;width:51%;}
.test-title{margin-bottom:2px;}
.test-title > a{color:#444444;font-family:'Roboto', Arial, Helvetica, sans-serif;font-size:15px;}
.test-title > a:hover{color:#DC6039;}
.test-date-comment{font-style:italic;color:#dc6039;}
.test-description{margin:15px 0px 0px 2px;line-height:18px;}
.readmore{margin-top:10px;}
.readmore a, .readmore a:hover{color:#DC6039;}
#content #special{width:280px;float:left;margin-right:20px;margin-bottom:47px;}
#content #bestseller{width:265px;float:left;margin-left:15px;margin-bottom:47px;}
#content #special .box-heading, #content #bestseller .box-heading{color:#333333;font-size:20px;background:none;font-family:'Roboto', Arial, Helvetica, sans-serif;padding:4px 0px;position:relative;text-transform:uppercase;}
.box-heading .heading_bg{position:absolute;display:block;top:6px;background:url(../image/megnor/title_lines.jpg) repeat-x scroll 0px center transparent;}
#special .box-heading .heading_bg{left:110px;width:125px;}
#bestseller .box-heading .heading_bg{left:160px;width:100px;}
#column-left .box .box-heading .heading_bg,
#column-right .box .box-heading .heading_bg{display:none;}
#content #special .box-product .cart,
#content #bestseller .box-product .cart{display:none;}
#content #special .box-product .product-block-inner,
#content #bestseller .box-product .product-block-inner{padding:3px;}
#content #special .box-product .rating,
#content #bestseller .box-product .rating,
#content #special .box-product .name,
#content #bestseller .box-product .name,
#content #special .box-product .price,
#content #bestseller .box-product .price{margin-left:79px;}
#content #special .box-product .rating,
#content #bestseller .box-product .rating{position:static;float:none;margin-top:4px;}
#content #special .box-product .name a,
#content #bestseller .box-product .name a{margin:-3px 0px 5px;}
#content #special .box-product > div,
#content #bestseller .box-product > div{display:block;vertical-align:top;margin:0px;width:100%;float:left;}
#content #special .box-product .product-block,
#content #bestseller .box-product .product-block{margin:5px 4px -1px;}
#content #special .box-product .product-block:hover .image img,
#content #bestseller .box-product .product-block:hover .image img{margin-top:0px;}
#content #special .box-product .price,
#content #bestseller .box-product .price{font-size:15px;font-weight:500;}
#content #special .box-product .price-old,
#content #bestseller .box-product .price-old{font-size:13px;}
.product-grid .image img,
#content .box-product .image img{-webkit-transition:all 600ms ease;-moz-transition:all 600ms ease;-o-transition:all 600ms ease;-ms-transition:all 600ms ease;transition:all 600ms ease;}
.product-grid .product-block:hover .image img, #content .box-product .product-block:hover .image img{margin-top:-20px;}
.product-image-block{position:relative;overflow:hidden;height:304px;}
.product-hover-block{height:33px;background:#4e5051;position:relative;-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease;margin:0px 1px 1px;left:-100%;top:-34px;}
.product-grid .product-block:hover .product-hover-block,
#content .box-product .product-block:hover .product-hover-block{left:0%;}
.add-to-link{float:left;width:130px;}
#content .box-product .add-to-link .cart,
#content .product-grid .product-block .add-to-link .cart{float:left;margin:0;position:relative;}
#content .box-product .add-to-link .cart input.button,
#content .product-grid .product-block .add-to-link .cart input.button{padding:0;font-size:0;width:41px;height:33px;float:left;background:url(../image/megnor/hover-icon.png) no-repeat scroll 7px 4px transparent;}
#content .box-product .add-to-link .compare,
#content .product-grid .product-block .add-to-link .compare,
#content .box-product .add-to-link .wishlist,
#content .product-grid .product-block .add-to-link .wishlist{float:left;position:relative;}
#content .box-product .add-to-link .wishlist a,
#content .product-grid .product-block .add-to-link .wishlist a{width:40px;height:33px;font-size:0px;display:block;float:left;padding:0px;background:url(../image/megnor/hover-icon.png) no-repeat scroll 7px -30px transparent;}
#content .box-product .add-to-link .compare a,
#content .product-grid .product-block .add-to-link .compare a{width:40px;height:33px;font-size:0px;display:block;float:left;padding:0px;background:url(../image/megnor/hover-icon.png) no-repeat scroll 7px -65px transparent;}
.add-to-link em{position:absolute;top:-31px;left:-30px;min-width:105px;padding:1px 5px;font-style:normal;background:#fff;border:1px solid #dddddd;display:none;text-align:center;font-size:12px;}
.product-list .product-block em{display:none;}
.add-to-link .cart em{left:2px;min-width:95px;}
.add-to-link .cart em:before{left:7%;}
.add-to-link > div:hover > em{display:block;}
.add-to-link em:before{content:"";background:url(../image/megnor/triangle_reverse.png) no-repeat scroll 0px 0px transparent;height:15px;left:34%;bottom:-15px;width:15px;position:absolute;}
#content .add-to-link .wishlist{border-right:1px solid #939393;border-left:1px solid #939393;}
#content .add-to-link .wishlist:hover{background-color:#e96941;border-right:1px solid #e96941;border-left:1px solid #e96941;}
#content .add-to-link .cart:hover{background-color:#e96941;}
#content .add-to-link .compare:hover{background-color:#e96941;}
#tabs-0{border-bottom:none;position:relative;margin-top:23px;background-color:#f9f9f9;padding:0px 0 12px 0;}
ul.etabs{list-style:none;padding:0px;margin:0;}
#tabs-0 li{float:left;background:#FFF;}
#tabs-0 a{padding:13px 12px;margin:0px;text-transform:uppercase;background-color:#f9f9f9;border-left:1px solid #F9F9F9;border-top:2px solid #f9f9f9;border-right:1px solid #F9F9F9;}
#tabs-0 a.selected, #tabs-0 a:hover{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:#D7D7D7 #D7D7D7 -moz-use-text-color;border-image:none;border-style:solid solid none;border-width:2px 1px medium;background-color:#fff;}
#tabs-0 ul li:last-child a:hover{border-left:1px solid #d7d7d7;}
.hometab .customNavigation a{top:-48px;}
.hometab .customNavigation a:hover{border:1px solid #D95026;}
.hometab .customNavigation a.prev{right:40px;}
.hometab .customNavigation a.next{right:11px;}
.hometab .tab-content{padding:10px 0px;}
.product_category_title{color:#a0a0a0;font-style:italic;margin:8px 0px 0px;}
#content .hometab .box-product .name a{margin:0px 0px 2px;}
#content .hometab .box-product .product-block:hover .name a, #content .product-grid-list .product-block:hover .name a, #products-related .box-product .product-block:hover .product-block-inner .name a{color:#d95026;}
#content .product-grid-list .product-list .product-block:hover .cart input.button{background:none repeat scroll 0 0 #E96941;}
#tab-review textarea{display:block;}
.category-info .image img{width:100%;}
#topcontrol{width:37px;height:37px;background:url(../image/megnor/back-top.png) no-repeat scroll 0px 0px transparent;}
.top_button{font-size:0px;}
.product-image-block .image img{width:100%;}
.category-info{text-align:justify !important;}
.saleblock{display:block;}
#bulkorder{position:absolute;right:0;top:41px;width:100%;}
.bulk{float:right;text-align:right;}
.strict{color:#f00;}
.scrollbox{background:#ffffff none repeat scroll 0 0;border:1px solid #cccccc;height:196px;overflow-y:scroll;padding:5px;width:66%;}
#primary-menu .last{display:inline-block !important;float:right;border-radius:0 !important;}
#primary-menu .last a{color:#FF2E1C !important;}
.supruni-guarantees > div{background-color:#fff;border:1px solid #f2f2f2;color:#1e1e1e;font-size:12px;line-height:18px;margin-bottom:10px;padding:12px;}
.supruni-guarantees .small.genuine-products{background-position:4px -44px;}
.supruni-guarantees .small{float:left;height:25px;margin:5px 5px 0 0;width:30px;}
.supruni-top-box .small::before, .supruni-guarantees .small, .pdp-sprite{background-image:url("../image/megnor/superunisku-sprite-v1.png");background-repeat:no-repeat;content:"";display:inline-block;}
.supruni-guarantees > div{color:#1e1e1e;font-size:12px;line-height:18px;}
.supruni-guarantees span{color:#6e6e6e;float:none;font-size:13px;text-transform:capitalize;}
.supruni-guarantees span strong{display:block;text-transform:uppercase;font-weight:700;}
.small.easy-return{background-position:-42px -44px;}
.supruni-guarantees .small.money-back{background-position:-83px -43px;height:28px;}
.supruni-guarantees .small.secure-payment{background-position:-127px -44px;}
.inline-colorbox.cboxElement{background-color:#e82f2c;border-radius:5px;color:#fff;padding:7px;}
.price_breaks{background:#eee none repeat scroll 0 0;display:table;padding:6px 0;table-layout:fixed;width:100%;}
.price_breaks ul{display:table-row;margin:0;padding:0;}
.price_breaks ul li{color:#333;display:table-cell;font-size:14px;line-height:1em;list-style:outside none none;margin:0;padding:0;text-align:center;}
.price_breaks ul li span{color:#FF3300;display:block;font-size:17px;font-weight:bold;line-height:1em;margin-top:5px;}
.price_breaks_more_than_max_text{font-size:13px;margin:0;padding:10px 0 5px;text-align:left;}
.price_breaks_more_than_max_text a{color:#FF3300;cursor:text;font-weight:bold;text-decoration:none;}